%footer.footer
	.feedback 
		%h3 Feedback
		.feedbackArea
			#feedbackAlert
			.feedbackForm
				= form_for(@feedback = Feedback.new, remote: true, html: {id: "formID" }) do |f|
					
					= f.label :name
					= f.text_area :name, :rows => 1, placeholder: "Please enter your name"

					= f.label :email
					= f.text_area :email, :rows => 1, placeholder: "Please enter your email"

					= f.label :feedback
					= f.text_area :feedback, :rows => 8, placeholder: "Please enter your feedback"

					= f.hidden_field :url, :value => url_for(params)

					= f.hidden_field :devices, :value => 4

					= f.hidden_field :orgId, :value => 6		

					= f.submit "Submit", class: "btn btn-large btn-primary"
				

